<?xml version="1.0" encoding="UTF-8"?>
<jobs>
    <job id="dailyStatServiceTrigger">
        <property name="cronExpression" value="0 0 3 * * ?"/>
        <action>
        <source>
          <datasource>template</datasource>
          <query>
            <sql>aaaa</sql>
            <params>
              <param>aaa</param>
              <param>aaa</param>
            </params>
          </query>
        </source>
        <target>
            <sql></sql>
            <params>
              <param></param>
              <param></param>
            </params>
        </target>
        </action>
        <action>
        <source>
          <datasource></datasource>
          <query>
            <sql></sql>
            <params>
              <param></param>
              <param></param>
            </params>
          </query>
        </source>
        <target>
            <sql></sql>
            <params>
              <param></param>
              <param></param>
            </params>
        </target>
        </action>
    </job>
    <job id="dailyStatServiceTrigger">
        <property name="cronExpression" value="0 0 3 * * ?"/>
        <action>
        <source>
          <datasource></datasource>
          <query>
            <sql></sql>
            <params>
              <param></param>
              <param></param>
            </params>
          </query>
        </source>
        <target>
            <sql></sql>
            <params>
              <param></param>
              <param></param>
            </params>
        </target>
        </action>
        <action>
        <source>
          <datasource></datasource>
          <query>
            <sql></sql>
            <params>
              <param></param>
              <param></param>
            </params>
          </query>
        </source>
        <target>
            <sql></sql>
            <params>
              <param></param>
              <param></param>
            </params>
        </target>
        </action>
    </job>

    <qjob>
      <qaction>
      <qsource>
        <host>abc</host>
        <port>123</port>
        <queue>abc</queue>
      </qsource>
      <target>
        <sql></sql>
        <params>
          <param></param>
          <param></param>
        </params>
      </target>
      </qaction>
      <qaction>
      <qsource>
        <host>abc</host>
        <port>123</port>
      </qsource>
      <target>
        <sql></sql>
        <params>
          <param></param>
          <param></param>
        </params>
      </target>
      </qaction>
    </qjob>
    <qjob>
      <qaction>
      <qsource>
        <host>abc</host>
        <port>123</port>
      </qsource>
      <target>
        <sql></sql>
        <params>
          <param></param>
          <param></param>
        </params>
      </target>
      </qaction>
    </qjob>

</jobs>
